@page
@using Microsoft.Extensions.Localization
@using ZenCrm.Finance.Localization
@using ZenCrm.Finance.Web.Pages.Finance
@model ZenCrm.Finance.Web.Pages.Finance.IndexModel
@inject IStringLocalizer<FinanceResource> L

@{
}
<h1>Finance</h1>
<p>@L["SamplePageMessage"]</p>
