@page
@using Microsoft.Extensions.Localization
@using ZenCrm.EventFlow.Localization
@using ZenCrm.EventFlow.Web.Pages.EventFlow
@model ZenCrm.EventFlow.Web.Pages.EventFlow.IndexModel
@inject IStringLocalizer<EventFlowResource> L

@{
}
<h1>EventFlow</h1>
<p>@L["SamplePageMessage"]</p>
