@page
@using Microsoft.Extensions.Localization
@using ZenCrm.Catalog.Localization
@using ZenCrm.Catalog.Web.Pages.Catalog
@model ZenCrm.Catalog.Web.Pages.Catalog.IndexModel
@inject IStringLocalizer<CatalogResource> L

@{
}
<h1>Catalog</h1>
<p>@L["SamplePageMessage"]</p>
