@page
@using Microsoft.Extensions.Localization
@using ZenCrm.Juris.Localization
@using ZenCrm.Juris.Web.Pages.Juris
@model ZenCrm.Juris.Web.Pages.Juris.IndexModel
@inject IStringLocalizer<JurisResource> L

@{
}
<h1>Juris</h1>
<p>@L["SamplePageMessage"]</p>
